* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    background: fixed url(../img/fondo.jpg);
    color: #333;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  h2,h1,h3 {
      text-align: center;
      margin-top: 30px;
  }
  
  main {
    flex: 1 0 auto;
  }

  li {
      margin-top: 20px;
      display: flex;  
      margin-left: 550px;
      font-size: 16px;
  }
  
  .button {
    font-size: 16px;
    margin-bottom: 10px;
  }

  p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .header {
    text-align: center;
    margin-bottom: 45px;
    margin-left: 60px;
    margin-top: 30px;
    margin-right: 80px;
    letter-spacing: 2px;
}

img {
    margin-top: 25px;
    cursor: pointer;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
    columns: 3;
}

.equipo1 {
    margin: auto;
    text-align: center;
    background-color: #D7CFCD;
    border-radius: 10px;
}

.equipo2 {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background-color: #D7CFCD;
    border-radius: 10px;
}

.equipo3 {
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background-color: #D7CFCD;
    border-radius: 10px;
}

.altura {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 14px;
    animation: cardAnim 2s 3s backwards;
}

.altura1 {
    color: black;
    margin-top: 75px;
    margin-bottom: 25px;
    cursor: pointer;
}

.circulo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 4px solid;
}

.myButton {
    box-shadow: inset 0px 2px 0px 0px #efdcfb;
    background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
    background-color: #dfbdfa;
    border-radius: 6px;
    border: 1px solid #c584f3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9752cc;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color: #bc80ea;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.inicio {
    margin-left: 500px;
}
